[submodule "src/mathlib"]
	path = src/mathlib
	url = https://github.com/JLimperg/aesop-script-evaluation
[submodule "src/aesop"]
	path = src/aesop
	url = https://github.com/leanprover-community/aesop
